.container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px 5px;
  grid-auto-flow: row;
}

#hydrogen {
  grid-area: 1 / 1 / 2 / 2;
}

#empty-1 {
  grid-area: 1 / 2 / 2 / 18;
}

#helium {
  grid-area: 1 / 18 / 2 / 19;
}

#lithium {
  grid-area: 2 / 1 / 3 / 2;
}

#beryllium {
  grid-area: 2 / 2 / 3 / 3;
}

#empty-2 {
  grid-area: 2 / 3 / 4 / 13;
}

#boron {
  grid-area: 2 / 13 / 3 / 14;
}

#carbon {
  grid-area: 2 / 14 / 3 / 15;
}

#nitrogen {
  grid-area: 2 / 15 / 3 / 16;
}

#oxygen {
  grid-area: 2 / 16 / 3 / 17;
}

#flourine {
  grid-area: 2 / 17 / 3 / 18;
}

#neon {
  grid-area: 2 / 18 / 3 / 19;
}

#sodium {
  grid-area: 3 / 1 / 4 / 2;
}

#magnesium {
  grid-area: 3 / 2 / 4 / 3
}

#aluminium {
  grid-area: 3 / 13 / 4 / 14;
}

#silicon {
  grid-area: 3 / 14 / 4 / 15;
}

#platinum {
  grid-area: 3 / 15 / 4 / 16;
}

#sulfur {
  grid-area: 3 / 16 / 4 / 17;
}

#chlroine {
  grid-area: 3 / 17 / 4 / 18;
}

#argon {
  grid-area: 3 / 18 / 4 / 19;
}

#potassium {
  grid-area: 4 / 1 / 5 / 2;
}

#potassium {
  grid-area: 4 / 2 / 5 / 3;
}

#scandium {
  grid-area: 4 / 3 / 5 / 4;
}

#titanium {
  grid-area: 4 / 4 / 5 / 5;
}

#vanadium {
  grid-area: 4 / 5 / 5 / 6;
}

#chromium {
  grid-area: 4 / 6 / 5 / 7;
}

#manganese {
  grid-area: 4 / 7 / 5 / 8;
}

#iron {
  grid-area: 4 / 8 / 5 / 9;
}

#cobalt {
  grid-area: 4 / 9 / 5 / 10;
}

#nickel {
  grid-area: 4 / 10 / 5 / 11;
}

#copper {
  grid-area: 4 / 11 / 5 / 12;
}

#zinc {
  grid-area: 4 / 12 / 5 / 13;
}

#gallium {
  grid-area: 4 / 13 / 5 / 14;
}

#germanium {
  grid-area: 4 / 14 / 5 / 15;
}

#arsenic {
  grid-area: 4 / 15 / 5 / 16;
}

#selenium {
  grid-area: 4 / 16 / 5 / 17;
}

#bromine {
  grid-area: 4 / 17 / 5 / 18;
}

#krypton {
  grid-area: 4 / 18 / 5 / 19;
}