.container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px 5px;
  grid-auto-flow: row;
}

#hydrogen {
  grid-area: 1 / 1 / 2 / 2;
}

#empty-1 {
  grid-area: 1 / 2 / 2 / 18;
}

#helium {
  grid-area: 1 / 18 / 2 / 19;
}

#lithium {
  grid-area: 2 / 1 / 3 / 2;
}

#beryllium {
  grid-area: 2 / 2 / 3 / 3;
}

#empty-2 {
  grid-area: 2 / 3 / 4 / 13;
}

#boron {
  grid-area: 2 / 13 / 3 / 14;
}

#carbon {
  grid-area: 2 / 14 / 3 / 15;
}

#nitrogen {
  grid-area: 2 / 15 / 3 / 16;
}

#oxygen {
  grid-area: 2 / 16 / 3 / 17;
}

#flourine {
  grid-area: 2 / 17 / 3 / 18;
}

#neon {
  grid-area: 2 / 18 / 3 / 19;
}

#sodium {
  grid-area: 3 / 1 / 4 / 2;
}

#magnesium {
  grid-area: 3 / 2 / 4 / 3
}

#aluminium {
  grid-area: 3 / 13 / 4 / 14;
}

#silicon {
  grid-area: 3 / 14 / 4 / 15;
}

#phosphorus {
  grid-area: 3 / 15 / 4 / 16;
}

#sulfur {
  grid-area: 3 / 16 / 4 / 17;
}

#chlorine {
  grid-area: 3 / 17 / 4 / 18;
}

#argon {
  grid-area: 3 / 18 / 4 / 19;
}

#potassium {
  grid-area: 4 / 1 / 5 / 2;
}

#calcium {
  grid-area: 4 / 2 / 5 / 3;
}

#scandium {
  grid-area: 4 / 3 / 5 / 4;
}

#titanium {
  grid-area: 4 / 4 / 5 / 5;
}

#vanadium {
  grid-area: 4 / 5 / 5 / 6;
}

#chromium {
  grid-area: 4 / 6 / 5 / 7;
}

#manganese {
  grid-area: 4 / 7 / 5 / 8;
}

#iron {
  grid-area: 4 / 8 / 5 / 9;
}

#cobalt {
  grid-area: 4 / 9 / 5 / 10;
}

#nickel {
  grid-area: 4 / 10 / 5 / 11;
}

#copper {
  grid-area: 4 / 11 / 5 / 12;
}

#zinc {
  grid-area: 4 / 12 / 5 / 13;
}

#gallium {
  grid-area: 4 / 13 / 5 / 14;
}

#germanium {
  grid-area: 4 / 14 / 5 / 15;
}

#arsenic {
  grid-area: 4 / 15 / 5 / 16;
}

#selenium {
  grid-area: 4 / 16 / 5 / 17;
}

#bromine {
  grid-area: 4 / 17 / 5 / 18;
}

#krypton {
  grid-area: 4 / 18 / 5 / 19;
}

#rubidium {
  grid-area: 5 / 1 / 6 / 2;
}

#strontium {
  grid-area: 5 / 2 / 6 / 3;
}

#yttrium {
  grid-area: 5 / 3 / 6 / 4;
}

#zirconium {
  grid-area: 5 / 4 / 6 / 5;
}

#niobium {
  grid-area: 5 / 5 / 6 / 6;
}

#molybdenum {
  grid-area: 5 / 6 / 6 / 7;
}

#technetium {
  grid-area: 5 / 7 / 6 / 8;
}

#ruthenium {
  grid-area: 5 / 8 / 6 / 9;
}

#rhodium {
  grid-area: 5 / 9 / 6 / 10;
}

#palladium {
  grid-area: 5 / 10 / 6 / 11;
}

#silver {
  grid-area: 5 / 11 / 6 / 12;
}

#cadmium {
  grid-area: 5 / 12 / 6 / 13;
}

#indium {
  grid-area: 5 / 13 / 6 / 14;
}

#tin {
  grid-area: 5 / 14 / 6 / 15;
}

#antimony {
  grid-area: 5 / 15 / 6 / 16;
}

#tellurium {
  grid-area: 5 / 16 / 6 / 17;
}

#iodine {
  grid-area: 5 / 17 / 6 / 18;
}

#xenon {
  grid-area: 5 / 18 / 6 / 19;
}

#caesium {
  grid-area: 6 / 1 / 7 / 2;
}

#barium {
  grid-area: 6 / 2 / 7 / 3;
}

#lanthanum {
  grid-area: 6 / 3 / 7 / 4;
}

#hafnium {
  grid-area: 6 / 4 / 7 / 5;
}

#tantalum {
  grid-area: 6 / 5 / 7 / 6;
}

#tungsten {
  grid-area: 6 / 6 / 7 / 7;
}

#rhenium {
  grid-area: 6 / 7 / 7 / 8;
}

#osmium {
  grid-area: 6 / 8 / 7 / 9;
}

#iridium {
  grid-area: 6 / 9 / 7 / 10;
}

#platinum {
  grid-area: 6 / 10 / 7 / 11;
}

#gold {
  grid-area: 6 / 11 / 7 / 12;
}

#mercury {
  grid-area: 6 / 12 / 7 / 13;
}

#thallium {
  grid-area: 6 / 13 / 7 / 14;
}

#lead {
  grid-area: 6 / 14 / 7 / 15;
}

#bismuth {
  grid-area: 6 / 15 / 7 / 16;
}

#polonium {
  grid-area: 6 / 16 / 7 / 17;
}

#astatine {
  grid-area: 6 / 17 / 7 / 18;
}

#radon {
  grid-area: 6 / 18 / 7 / 19;
}

#francium {
  grid-area: 7 / 1 / 8 / 2;
}

#radium {
  grid-area: 7 / 2 / 8 / 3;
}

#actinium {
  grid-area: 7 / 3 / 8 / 4;
}

#rutherfordium {
  grid-area: 7 / 4 / 8 / 5;
}

#dubnium {
  grid-area: 7 / 5 / 8 / 6;
}

#seaborgium {
  grid-area: 7 / 6 / 8 / 7;
}

#bohrium {
  grid-area: 7 / 7 / 8 / 8;
}

#hassium {
  grid-area: 7 / 8 / 8 / 9;
}

#meitnerium {
  grid-area: 7 / 9 / 8 / 10;
}

#darmstadtium {
  grid-area: 7 / 10 / 8 / 11;
}

#roentgenium {
  grid-area: 7 / 11 / 8 / 12;
}

#copernicium {
  grid-area: 7 / 12 / 8 / 13;
}

#nihonium {
  grid-area: 7 / 13 / 8 / 14;
}

#flerovium {
  grid-area: 7 / 14 / 8 / 15;
}

#moscovium {
  grid-area: 7 / 15 / 8 / 16;
}

#livermorium {
  grid-area: 7 / 16 / 8 / 17;
}

#tennessine {
  grid-area: 7 / 17 / 8 / 18;
}

#oganesson {
  grid-area: 7 / 18 / 8 / 19;
}

#empty-3 {
  grid-area: 8 / 1 / 10 / 4;
}

#cerium {
  grid-area: 8 / 4 / 9 / 5;
}

#praseodymium {
  grid-area: 8 / 5 / 9 / 6;
}

#neodymium {
  grid-area: 8 / 6 / 9 / 7;
}

#promethium {
  grid-area: 8 / 7 / 9 / 8;
}

#samarium {
  grid-area: 8 / 8 / 9 / 9;
}

#europium {
  grid-area: 8 / 9 / 9 / 10;
}

#gadolinium {
  grid-area: 8 / 10 / 9 / 11;
}

#terbium {
  grid-area: 8 / 11 / 9 / 12;
}

#dysprosium {
  grid-area: 8 / 12 / 9 / 13;
}

#holmium {
  grid-area: 8 / 13 / 9 / 14;
}

#erbium {
  grid-area: 8 / 14 / 9 / 15;
}

#thulium {
  grid-area: 8 / 15 / 9 / 16;
}

#ytterbium {
  grid-area: 8 / 16 / 9 / 17;
}

#lutetium {
  grid-area: 8 / 17 / 9 / 18;
}

#empty-4 {
  grid-area: 8 / 18 / 10 / 19;
}

#thorium {
  grid-area: 9 / 4 / 10 / 5;
}

#protactinium {
  grid-area: 9 / 5 / 10 / 6;
}

#uranium {
  grid-area: 9 / 6 / 10 / 7;
}

#neptunium {
  grid-area: 9 / 7 / 10 / 8;
}

#plutonium {
  grid-area: 9 / 8 / 10 / 9;
}

#americium {
  grid-area: 9 / 9 / 10 / 10;
}

#curium {
  grid-area: 9 / 10 / 10 / 11;
}

#berkelium {
  grid-area: 9 / 11 / 10 / 12;
}

#californium {
  grid-area: 9 / 12 / 10 / 13;
}

#einsteinium {
  grid-area: 9 / 13 / 10 / 14;
}

#fermium {
  grid-area: 9 / 14 / 10 / 15;
}

#mendelevium {
  grid-area: 9 / 15 / 10 / 16;
}

#nobelium {
  grid-area: 9 / 16 / 10 / 17;
}

#lawrencium {
  grid-area: 9 / 17 / 10 / 18;
}