@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$font-primary: "Poppins", Helvetica;

$size-primary: 1.75rem;
$size-secondary: 1rem;

$color-background: lightcoral;
